
.live-feed-container {
    position: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    padding: 10px;
    width: 95%;
    height: 80%;
    background-color: var(--secondary-background);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.live-feed-window {
    position: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    padding: 10px;
    width: 60%;
    height: 80%;
    background-color: var(--primary-background);
    border-radius: 10px;
}


/* Spinner for camera loading. */

.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.spinner {
    color: var(--primary-background);
    position: relative;
}

.spinner, .spinner:after {
    box-sizing: border-box;
}

.spinner {
    width: 15%;
    height: 15%;
    transform: translateX(40%) translateY(30%);
}

.spinner:after {
    content: '';
    display: block;
    width: 20%;
    height: 60%;
    border-radius: 50px;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: spinner 1.2s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
