
/* Dropdown containers styling. */

.scroll-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
    float: left; /* DONT TOUCH OR WONT WORK PROPERLY XD.. */
    width: 32%;
    background-color: var(--secondary-background);
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    transition: max-height 0.5s ease; 
    overflow: hidden; 
}

.scroll-container h2 {
    position: relative;
    font-size: 30px;
    padding: 0 0 5px 0;
}

.scroll-container h2 span::after {
    float: right;
    content: '+';
}

.settings-container{
    display: block;
    clear: both;
    position: relative;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.settings-container p{
    padding: 5px 0px 5px 20px;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Controls stlying. */

/* SLIDER STYLING. */

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider {
    width: 100%;
    opacity: 0.7;
}

.slider:hover {
    opacity: 1;
}

.slide-output {
    color: var(--patina);
    font-size: 32px;
}