{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/captures.css') }}">
{% endblock head %}

{% block body %}

    <div class="container-container">

        <div class="left-container">

            <!-- left-most container for list of accumulated captures and the filters associated. -->
    
            <div class="filters-container">
    
                <!-- Container for filters to sort captures old /new. -->
    
                <!-- Button to sort captures from recent to oldest. -->
                <h2>By Date:</h2>
                <button 
                    type='submit'
                    name='sort_order'
                    value = 'sort_order'
                    class = 'settings-btn'
                >
                    {{ 'Ascending' if order == True else 'Descending' }}
                </button>
    
            </div>
    
            <div class="list-container">

                {% if images %}

                    {% for image in images %}
        
                        <div class="capture-container">
                    
                            <h5>{{ image.filename }}</h5>
                            <p>Date: {{ image.capture_date }}</p>
                            <p>Time: {{ image.capture_time }}</p>
                            
                        </div>
        
                    {% endfor %}

                {% else %}

                    <h1>No Captures Present :(</h1>

                {% endif %}

    
            </div>
    
        </div>
    
        <div class="right-container">
    
            <!-- Container to view selected capture. -->
    
            <div class="image-metadata">
    
                <div class="image-view">
    
                    {% if image.fullpath %}
    
                        <img
                            src="{{ image.fullpath }}"
                            alt="{{ image.filename }}"
                            class="img"
                            loading="lazy"
                        >
    
                        <!-- Reinvent donwload and delete feautres. AS JS? or just buttons in general. More intuitive. implementation. -->
    
                        <a href="" download>
                            Download
                        </a>
                        <p>Date: {{ image.capture_date }}</p>
                        <p>Time: {{ image.capture_time }}</p>
                        <form action="/captures/delete/{{ image.filename }}" method="POST">
                            <button type="submit">
                                Delete
                            </button>
                        </form>
    
                        <h5>{{ image.filename }}</h5>
    
                    {% else %}
    
                        <h1>
                            Select an image for viewing. :)
                        </h1>
    
                    {% endif %}
    
                </div>
            </div>
        </div>
    </div>

{% endblock body %}