{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock head %}

{% block body %}

    <div class="live-feed-container">

        {% if stream_available %}

            <!-- Container to display camera stream. -->
            <div class="live-feed-window">
                <img
                    src="{{ url_for('main.video_stream')}}"
                    alt="live camera feed."
                    class="img"
                />
            </div>

        {% else %}

            <!-- Display spinner. -->
            <div class="spinner-container">
                <div class="spinner"></div>
                <h1>Sourcing video stream.</h1>
            </div>



        {% endif %}

    </div>


{% endblock body %}